bin
obj
Debug/
Release/
*.csproj.user
Bopycat/clients/
GR.Gambling.Backgammon.Venue/*/
GR.Gambling.Backgammon.Venue/BGDeployment*
GR.Gambling.Backgammon.Venue/GR.Gambling.Backgammon.Venue.csproj
GR.Gambling.Blackjack/Program.cs
_UpgradeReport_Files
*.sdf
*.vcxproj*